<%- include('header') %>
<div class="ui link cards">
  <% board_list.forEach(board => { %>
    <div class="card">
      <div class="image">
        <img src="/img/timg.jpg">
      </div>
      <div class="content">
        <div class="header">
          <h3><a href="/board/<%= board.id %>"><%= board.name %></a></h3>
        </div>
      </div>
      <div class="extra content">
        <% if (user && user.auth == 1) { %>
          <div class="ui inline dropdown">
            <div class="text"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item"><a href="/board/<%= board.id %>/edit">编辑</a></div>
              <div class="item"><a href="/board/<%= board.id %>/delete">删除</a></div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  <% }) %>
</div>
<%- include('footer') %>
