<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post">
      <div class="field required">
        <label>用户名</label>
        <div class="ui disabled input">
          <input type="text" name="username" value="<%= user.username %>">
        </div>
      </div>
      <div class="field required">
        <label>性别</label>
        <select class="ui compact selection dropdown" name="gender">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
      <div class="field required">
        <label>个人简介</label>
        <textarea name="bio" rows="5"><%= user.bio %></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="更新">
    </form>
  </div>
</div>
<script>
  $(function () {
    // 个人信息修改性别默认选择
    $('option[value="<%= user.gender %>"]').attr('selected', true);
  });
</script>
<%- include('footer') %>
